/* Universal Border Box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background Color */
body {
    background-color: antiquewhite;
}

/* Header and Navigation Formats */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    color: black;
}

/* Header name inline block side to side */
.header h1 {
    display: inline-block;
}

/* Navigation link adjustment */
.header nav {
    padding-top: 15px;
    margin-right: 150px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Removes bullets */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Anchor link coloration and text */
a {
    color: black;
    text-decoration: none;
}
/* About-Me, Work, Contact Me, Resume Section */

.about-container,
.work-container,
.contact-container,
.resume-container {
    display: flex;   
}

.about-container h2,
.work-container h2,
.contact-container h2,
.resume-container h2 {
    width: 10%;
    margin: 20px auto;
    border-right: 5px solid darkgoldenrod;
    font-size: 30px;
    text-align: right;
    padding-right: 3%;
    height: 150px;
}

.about-container p,
.work-container p,
.contact-container p,
.resume-container p {
    width: 70%;
    /* Sets top and bottom margin to 20px. Auto will center element */
    margin: 20px auto;
    background-color: beige;
    font-size: large;
  }



#image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/naturebg.JPG");
    background-size: cover;
    background-position: center;
}